.ordenar {
    position: relative;
    padding-top: 72px;
    padding-bottom: 77px;
    background: rgba(238, 232, 220, 0.59);

    &::before {
        content: url('../img/ordenar/ordenar-bg.png');
        position: absolute;
        right: 16%;
        bottom: -4px;

        @media (max-width: 1220px) {
            right: 0;
        }

        @media (max-width: 880px) {
            content: '';
        }
    }

    @media (max-width: 540px) {
        padding-top: 44px;
        padding-bottom: 65px;
    }
}

.ordenar__content {
    position: relative;
    width: 670px;
    margin-right: auto;
    z-index: 2;

    @media (max-width: 880px) {
        width: 100%;  
    }
}

.ordenar__title {
    margin-bottom: 37px;
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 125.02%;
    color: #010101;

    span {
        font-weight: bold;
        font-size: 45.8235px;
        line-height: 125.02%;
        color: #CA2E70;
    }

    @media (max-width: 880px) {
        text-align: center;
    }
}

.ordenar__items-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    @media (max-width: 600px) {
        flex-direction: column;
        justify-content: center;
    }
}

.ordenar__item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        margin-bottom: 26px;

        @media (max-width: 540px) {
            margin-bottom: 20px;
        }
    }

    span {
        margin-bottom: 16px;
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 160.52%;
        text-align: center;
        color: #010101;

        @media (max-width: 540px) {
            margin-bottom: 5px;
        }
    }

    p {
        font-family: 'Muller',sans-serif;
        font-weight: normal;
        font-size: 15px;
        line-height: 160.52%;
        text-align: center;
        color: rgba(1, 1, 1, 0.7);
    }

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 600px) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    }


}