.ordenar {
    position: relative;
    padding-top: 72px;
    padding-bottom: 77px;
    background: rgba(238, 232, 220, 0.59);

    &::before {
        content: url('../img/ordenar/ordenar-bg.png');
        position: absolute;
        right: 16%;
        bottom: -4px;
    }
}

.ordenar__content {
    position: relative;
    width: 670px;
    margin-right: auto;
    z-index: 2;
}

.ordenar__title {
    margin-bottom: 37px;
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 125.02%;
    color: #010101;

    span {
        font-weight: bold;
        font-size: 45.8235px;
        line-height: 125.02%;
        color: #CA2E70;
    }
}

.ordenar__items-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ordenar__item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        margin-bottom: 26px;
    }

    span {
        margin-bottom: 16px;
        font-family: 'Muller',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 160.52%;
        text-align: center;
        color: #010101;
    }

    p {
        font-family: 'Muller',sans-serif;
        font-weight: normal;
        font-size: 15px;
        line-height: 160.52%;
        text-align: center;
        color: rgba(1, 1, 1, 0.7);
    }
}