.vision {
    position: relative;
    padding-top: 149px;
    padding-bottom: 176px;
    background: radial-gradient(42.38% 42.38% at 64.44% 35.16%, #2E2B2B 0%, #000000 100%);

    @media (max-width: 540px) {
        padding-top: 44px;
        padding-bottom: 44px;
    }

    &::before {
        content: url('../img/vision/vision-bg.png');
        position: absolute;
        bottom: 0;
        right: 0;

        @media (max-width: 1050px) {
            content: '';
            background-image: url('../img/vision/vision-bg.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
            width: 100%;
            top: 0;
        }

        @media (max-width: 540px) {
            background-image: none;
        }
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.vision__content {
    position: relative;
    z-index: 1;
    width: 500px;

    @media (max-width: 540px) {
        width: 100%;
    }
}

.vision__title {
    margin-bottom: 23px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 46px;
    line-height: 125.02%;
    color: #FFFFFF;

    span {
        color: #EA0000;
    }

    @media (max-width: 540px) {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        font-size: 28px;
    }
}

.vision__desc {
    margin-bottom: 43px;
    font-family: 'Muller', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 160.52%;
    color: rgba(255, 255, 255, 0.7);

    @media (max-width: 540px) {
        margin-bottom: 25px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 15px;
    }
}

.vision__list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    @media (max-width: 540px) {
        margin-bottom: 51px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.vision__list-item {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    font-family: 'Muller', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160.52%;
    color: #FFFFFF;

    &:last-child {
        margin-bottom: 0;
    }
}

.vision__img--mobile {
    display: none;

    @media (max-width: 540px) {
        display: block;
        width: 100%;
    }
}